<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<body>
    <%- include('../partials/nav.ejs')%>
    <div class="about container">
        <h1>About Itema</h1>
        <p>Taska is a simple and intuitive task management app designed to help you organize your Items efficiently.</p>
        <p>Key features include:</p>
        <ul>
            <li>Creating items with due dates and priorities</li>
            <li>Delete items</li>
            <li>Read all items</li>
            <li>Marking items as completed</li>
        </ul>
        <p>Itema is built to be user-friendly and accessible, making it easy for individuals and teams to stay on top of their tasks and deadlines.</p>
        <p>For any inquiries or feedback, please contact us at <a href="mailto:info@taskaapp.com">info@taskaapp.com</a>.</p>
    </div>
    <%- include('../partials/footer.ejs')%>
</body>
</html>